@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media(max-width: 789px) {
    .gambarWisata img{
        transform: translate(0%,0%);
    }
}
@media(min-width: 789px) {
    .gambarWisata img{
        transform: translate(10%,0%);
    }
}

.judulWisata{
    transform: translateX(13%);
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    font-weight: 700;
    object-fit: cover;
    text-shadow: 20%;
    z-index: 100;
}

.isiContentMap{
    position: relative;
    display: flex;
    justify-content: center;
    height: 506px;
    margin: 0 1%;
    
}

.gambarWisata{
    position: relative;
    width: 1000px;
    height: 500px;
    border-radius: 15px;
}

.gambarWisata img{
    z-index: 111;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; 
}

.Deskripsi{
    z-index: 222;
    color: white;
    font-weight: 500;
    font-size: medium;
    background: rgba(180, 129, 69, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 40px;
    width: 450px;
    height: fit-content;
    border-radius: 10px;
    transform: translate(-90px,40px);
    text-align: justify;
}
  
.map-wrap {
    position: relative;
    transform: translate(35%, -30%);
    width: 39%;
    z-index: 200;
    height: 329px;
}
    
.map {
    position: absolute;
    width: 100%;
    height: 0;
    opacity: 0;
    /* height: 100%;
    opacity: 1; */
    border-radius: 10px;
    transition: opacity 0.5s ease-in, height 0.5s ease-out;
}

.bungkusContent:hover .map{
    height: 100%;
    opacity: 1;
}

@media (max-width: 1111px) {
    .map-wrap {
        transform: translate(25%, -55%);
    }
}
@media (max-width: 1000px) {
    .map-wrap {
        transform: translate(5%, -65%);
    }
}

@media (max-width: 870px) {
    .map-wrap {
        transform: translate(3%, -765px);
        position: absolute;
        z-index: 1000;
        height: 200px;
        width: 200px;
    }
    .isiContentMap{
        flex-direction: column;
        height: fit-content;
    }
    .judulWisata{
        transform: translateX(1%);
    }
    .Deskripsi{
        transform: translate(0px);
        width: 100%;
        height: 265px;
        padding: 20px;
    }
    .gambarWisata{
        width: 100%;
    }
    .map {
        height: 100%;
        opacity: 1;
    }
    /* .bungkusContent{
        overflow-x: hidden;
    } */
}

@media (max-width: 569px) {
    .Deskripsi{
        margin-top: 10px;
        height: 400px;
    }
    .map-wrap {
        transform: translate(2%, -799px);
    }
}