.containerWeather{
    /* text-align: center; */
    color: white;
    width: 100%;
    background: black;
    border-radius: 20px;
}

.lokasi p {
    font-size: 20px;
    font-weight: 500;
}

.suhu p{
    font-size: 30px;
}

.iniWeather{
    display: flex;
}
.iniWeather p{
    margin: auto 0;
}
.iniWeather img{
    width: 50px;
    height: fit-content;
}

.bungkusLogoFoot {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bungkusLogoFoot img{
    width: 100%;
    object-fit: cover;
}

.teksLogoFoot{
    color: white;
    font-weight: 600;
    object-fit: cover;
    text-align: center;
    margin: 0 auto;
}

.teksLogoFoot p{
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
}
@media (max-width: 768px){
    .bungkusLogoFoot img{
        width: 160px;
        height: 65px;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 1024px){
    .bungkusLogoFoot {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bungkusLogoFoot img{
        width: 180px;
        height: 85px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }
}
