.fotoYoutube{
    background: linear-gradient( to bottom, rgb(0, 0, 0) 30%, rgba(118,88,39,1) 99%);
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.containerIsiWisata{
    background-color: linear-gradient( to top, rgb(0, 0, 0) 30%, rgba(118,88,39,1) 99%);
}

.bungkusContent{
    overflow-x: hidden;
}

.isiMainWisata{
    background-color: linear-gradient( to bottom, rgb(0, 0, 0) 30%, rgba(118,88,39,1) 99%);
}