.footer-container {
    width: 100%;
    background-color: #000000;
    color: #d1d5db;
    padding: 1rem 0.5rem;
}

.footer-grid {
    max-width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 2fr 3fr; 
    grid-template-areas: 
      "kiri kanan iniWeather2"; 
    padding: 2rem 0;
}

@media (max-width: 1024px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 20px;
    }

    .kiri {
        grid-column: span 2;
    }

    .kanan {
        grid-column: 1;
        grid-row: 2;
    }

    .iniWeather2 {
        grid-column: 2;
        grid-row: 2;
    }
}
/* 
@media (max-width: 768px) {
    .footer-grid {
        grid-template-columns: 2fr;
    }
} */

.footer-title {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 0.5rem;
}

.footer-item {
    padding: 0.25rem 0;
    cursor: pointer;
}

.footer-item:hover {
    color: #ffffff;
}

.social-link {
    color: #d1d5db;
    margin: 0 12px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-link:hover {
    color: #ffffff;
    transform: scale(1.1);
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

@media (max-width: 768px) {
    .social-icons {
        flex-direction: column; 
        font-size: 2rem; 
    }
}

.footer-socials {
    text-align: center;
}

.footer-text {
    padding: 10px 0;
}

.footer-divider {
    width: 100%;
    height: 2px;
    background-color: #4b5563;
    margin: 20px 0;
}


ul li{
    list-style: none;
    margin:0;
}

ul{
    margin: 0;
    padding: 0;
}

.kiri p{
    margin-top: 10px;
    text-align: justify;
    
}

.kanan{
    margin: auto;    
}

.kanan p{
    font-size: 18px;
    font-weight: 600;
}
.kanan a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    transition: font-weight 0.2s ease-in-out;
}

.kanan a:hover {
    font-weight: 500;
}

.teksLogo{
    margin: 0 auto;
}

.iniWeather2{
    margin: auto;
}