@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.isi {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.OverlayList{
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.isi h1{
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 140px;
    animation-delay: 1s;
    z-index: 100;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.isi p, .isi h1{
    transform: translateY(30px);
    opacity: 0;
    animation: animasi .5s .7s ease-in-out 1 forwards;
}

#buttonList {
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    width: fit-content;
    margin: 10px 0;
}

#buttonList:hover {
    letter-spacing: 3px;
    background-color: #000000;  
    color: white;
    box-shadow: #000000 0px 7px 29px 0px;
}

#buttonList:active {
    letter-spacing: 3px;
    background-color: #000000;
    color: white;
    box-shadow: #000000 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 100ms;
    border: #000000;
}


@media (min-width: 1000px) {
    #buttonList {
        padding: 15px 35px;
        font-size: 15px;
    }
    
}
@media (max-width: 1000px) {
    .isi h1{
        font-size: 100px;
    }
    #buttonList {
        padding: 14px 33px;
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .isi h1{
        font-size: 80px;
    }
    #buttonList {
        padding: 12px 31px;
        font-size: 12px;
    }
}
@media (max-width: 535px) {
    .isi h1{
        font-size: 60px;
    }
    #buttonList {
        padding: 10px 20px;
        font-size: 10px;
    }
}

@keyframes animasi {
    to{
        transform: translateY(0);
        opacity: 1;
    }
}