.containerIsiTiga {
    width: 100%;
    height: 80vh;
    position: relative;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 15%, rgba(118, 88, 39, 1) 45%, rgb(0, 0, 0) );
}

/* Arrow ===================== */
.arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 100;
    padding: 0 0.5%;
}

.arrows button {
    background-color: #eee5;
    color: #eee;
    font-size: 25px;
    border: none;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
    color: #eee;
    transition: .5s;
}

.arrows button:hover {
    background-color: #eee;
    color: black;
}


/* LIST LAYAR ======================= */

.list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list .item {
    position: absolute;
    overflow: hidden;
    display: grid;
    opacity: 0;
    transition: .5s;
    border-radius: 10px;
    width: 90%; 
    height: 90%; 
    left: 5%;
    top: 5%; 
}


.list .item.active{
    opacity: 1;
    z-index: 10;
}

@media (max-width: 768px) {
    .containerIsiTiga {
        height: 80vh;
    }
    
}