.Judul{
    width: fit-content;    
    font-size: 50px;
    font-weight: 550;
    color: rgb(218, 191, 72);
    text-align: center;
    margin: 0 auto;
    z-index: 1000;
    padding-top: 100px;
    font-style: italic;
}

.ContainerJudul{
    background: black;
    width: 100%;
}